<html>

<head>
    <title>application app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <section>
        <div>

            <div class="container">
                <div class="row">
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
                    <br>
                    <br>
                    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- Facebook Log in Form boot -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5715866801509976" data-ad-slot="8095114049" data-ad-format="auto"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <br>
                    <br>
                    <div id="loginform">
                        <div>
                            <div id="facebook"><i class="fa fa-facebook"></i>
                                <div id="connect">Connect with Facebook</div>
                            </div>
                        </div>
                        <div id="mainlogin">
                            <div id="or">or</div>
                            <h1>Log in with awesome new thing</h1>
                            <form action="#">
                                <input type="text" placeholder="username or email" value="" required>
                                <input type="password" placeholder="password" value="" required>
                                <button type="submit"><i class="fa fa-arrow-right"></i></button>
                            </form>
                            <div id="note"><a href="#">Forgot your password?</a></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>

</html>